.button {
  background-color: #000;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  font-size: .875rem;
  cursor: pointer;
  outline: none;
  border: 0;
  transition: all ease-in-out 0.2s;
}

.button:hover {
  background-color: #3e3e3e;
}

.button--ghost {
  background-color: transparent;
  color: #000;
}

.button--ghost:hover {
  background-color: #F2F2F2;
}