.monitor-events {
  margin-block: 2rem;
}

.monitor-events-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.monitor-events-title {
  display: flex;
  align-items: center;
}

.monitor-events-title p {
  font-size: 1rem;
  font-weight: 500;
  margin-right: .5rem;
}

.monitor-events-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin-top: 1rem;
}

.monitor-events-actions {
  display: flex;
  align-items: center;
}

.monitor-events-date {
  margin-right: 1rem;
}

.monitor-events-date input {
  min-width: 13rem;
  margin: 0;
  background-color: #fff;
  border: 1px solid #DADADA;
  border-radius: .5rem;
  padding: .5rem 0;
  font-size: .875rem;
  text-align: center;
}

@media screen and (max-width: 940px) {
  .monitor-events-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

    .monitor-events-header {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
  
    .monitor-events-actions {
      margin-top: 1rem;
    }

    .monitor-events-date {
      align-self: stretch;
    }

    .react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input-container input {
      height: 100%;
    }
}