.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.header-desc {
  display: flex;
  align-items: center;
}

.header-desc p {
  font-size: 0.75rem;
  margin-left: 0.25rem;
}

@media screen and (max-width: 940px) {
  .header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .header-right {
    margin-top: 1rem;
  }
}